<div class="ui pointing menu">
  <a class="item active" [routerLink]="['home']" routerLinkActive="active">
    Home
  </a>
  <a class="item" [routerLink]="['category']" routerLinkActive="active">
    Categoria
  </a>
  <a class="item" [routerLink]="['search']" routerLinkActive="active">
    Search
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
